<%- include("../partials/header") %>
<%- include("../partials/admin-sidebar") %>

<div class="main-content">
    <h2>Edit Course</h2>
    <p>Edit course details here.</p>
    <!-- Content for editing courses -->
</div>

<%- include("../partials/footer") %>


<%- include(\'../partials/header\') %>
<%- include(\'../partials/admin-sidebar\') %>

<div class=\'main-content\'>
    <h2>Edit Course</h2>
    <p>This page will allow editing of course details.</p>
</div>

<%- include(\'../partials/footer\') %>

